
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding-left: 20px;
    font-size: 30px;
    margin: 10px;
    background-color: rgba(61, 61, 61, 0.948);
    width: 230px;
    color: white;
}

img {
    width: 100%;
}

.principal {
    background-color: rgb(189, 189, 189);
    padding: 30px;
    margin: 10px;
}

h1{
    text-align: center;
}

p {
    text-align: center;
}

.missao {
    color: red;
}

.beneficios {
    background-color: white;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

li {
    font-style: italic;
}

.imagembeneficio {
    width: 50%;
}