body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#FEFEFE,#c0c0c0);
}


header{
    background-color: rgb(189, 189, 189);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: rgb(157, 128, 47);
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(157, 128, 47);
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.tipo-corte {
    font-size: 18px;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px 0;
    color: white;

}

.copy {
    margin-top: 10px;
    font-size: 13px;
    
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend  {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0 ;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: grab;
}

.enviar:hover {
    background: rgb(255, 123, 0);
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: rgb(83, 83, 83);
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 1em;
    clear: left;
    margin-bottom: 50px;
    text-shadow: 5px 5px 12px black;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens:before {
    content: "🞄";
    margin-right: 10px;
    
}

.itens:nth-child(1) {
    font-weight: bold;
}


.imagembeneficio {
    width: 60%;
    opacity: 0.8;
    transition: 400ms;
    box-shadow: 5px 5px 5px black;
}

.imagembeneficio:hover{
    opacity: 1;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0px;
}

.mapa {
    padding: 3em 0;
}

.mapa h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 1em;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}
